@tailwind base;
@tailwind components;
@tailwind utilities;

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures video covers the entire area */
}
/* Increase the size of the thumb in WebKit browsers (Chrome, Safari, etc.) */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 34px; /* Set the desired width */
  height:34px; /* Set the desired height */
  background-color: #22c55e; /* Green thumb color */
  border-radius: 10%; /* Make it circular */
  cursor: pointer;
}

/* Increase the size of the thumb in Firefox */
input[type="range"]::-moz-range-thumb {
  width: 24px; /* Set the desired width */
  height: 24px; /* Set the desired height */
  background-color: #22c55e; /* Green thumb color */
  border-radius: 50%; /* Make it circular */
  cursor: pointer;
}

/* Remove outline when focusing the slider */
input[type="range"]:focus {
  outline: none;
}

*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}